#Cart.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='Cart')
     .offcanvas-header
          .h2#offcanvasRightLabel Cart
          button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
     .offcanvas-body#cart
          if cart
               each item in cart
                    .d-flex.flex-row.align-items-center.justify-content-between.mb-3(food-id=item.id)
                         .d-flex.flex-row
                              img.rounded.img-thumbnail(src=`${item.thumbnail}` alt=item.name style="width:5rem; height: 5rem; margin-right:10px")
                              .d-flex.flex-column
                                   a.h5.mb-0.text-decoration-none(href=`/foods/${item.id}`)=item.name
                                   div=`Đơn giá: ${item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}` 
                                   .input-group.my-2.w-auto(food-id=item.id)
                                        button.change-cart.btn.btn-outline-secondary(type='button' data-type='DECREASEMENT') - 
                                        input.btn.btn-outline-secondary.text-center.disabled(type='text', name='quantity', value=item.quantity min='1', style='width:50px')
                                        button.change-cart.btn.btn-outline-secondary(type='button' data-type='INCREASEMENT') +