doctype html
html(lang="en")
     head 
          block head
          include ../includes/seo.pug
          meta(charset='utf-8')
          meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
          link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
          link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css')
          link(href="/public/css/style.css" rel="stylesheet")
          link(href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet")
          if links
               for link in links
                    link(href=link, rel='stylesheet')
     body.bg-light
          nav.navbar.navbar-expand-lg.navbar-dark.dark.text-light
               .container
                    a.navbar-brand(href='/').d-flex.justify-content-center.align-items-center
                         img(src="/public/images/assets/restaurant-white-64px.png").me-2.rounded.mx-auto.d-block
                         span.fw-italic.fs-3 #{APP_NAME.split(" ")[0]}
                         span.fw-bold.fs-3 #{APP_NAME.split(" ")[1]}
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                         span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                         ul.navbar-nav.me-auto.mb-2.mb-lg-0
                              if menu
                                   for item in menu 
                                        li.nav-item
                                             a.nav-link.active(aria-current='page' href=item.link)= item.name
                         if !isLogin
                              if user
                                   .dropdown
                                        button#dropdownMenuButton1.btn.btn-light.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                                             img.user-avatar-small(src=user.avatar ? user.avatar : `/public/images/rankings/${user.current_ranking.code.toLowerCase()}.png` alt=user.name)
                                             span= user.last_name + " " + user.first_name
                                        ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                                             li
                                                  a.dropdown-item(href='/user/profile') Hồ sơ
                                             li
                                                  a.dropdown-item(href='/logout') Đăng xuất
                              else 
                                   if !listNotDisplaySignNav.includes(path)
                                        .px-2
                                             a.text-light(href="/sign_in") Đăng nhập
                                             span.px-2 /
                                             a.text-light(href="/sign_up") Đăng ký
                         if role == "CUSTOMER" || !role
                              button(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight').btn.btn-light.mx-2.position-relative
                                   i.bi.bi-bag
                                   if product && product.length
                                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger= product.length
          main.container.py-5
               block content
               #offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
                    .offcanvas-header
                         .h2#offcanvasRightLabel Cart
                         button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                    .offcanvas-body
                    | ...
     block footer
          footer.dark
               .container.px-5.pt-5
                    .row.justify-content-center
                         .col-sm-4
                              h5 Về #{APP_NAME.split(" ")[0]}
                              ul
                                   li
                                        a(href='/about') Giới thiệu về #{APP_NAME}
                                   li
                                        a(href='/contact') Liên hệ
                                   li
                                        a(href='/contact') Chính sách bảo mật
                                   li
                                        a(href='/contact') Vận chuyển
                         .col-sm-4
                              h5 Hổ Trợ Chăm Sóc Khách Hàng
                              ul
                                   li
                                        a(href='/FAQ') Câu hỏi thường gặp
                                   li
                                        a(href='/help') hổ trợ báo cáo
                                   li
                                        a(href='/forums') Forums
                         .col-sm-4
                              h5 Chi Nhánh
                              ul
                                   each val in branches
                                        li
                                             h5= val.name
                                             span.ps-2= val.address + " - " + val.phone
               .footer-copyright.py-2.text-white.text-center
                    p.m-0 &copy; #{APP_NAME} - #{ new Date().getFullYear()}

     if scripts 
          for script in scripts
               script(src=script)
     block script
     script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')
     script(src='/public/js/script.js')
     script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js' integrity='sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
     script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
     script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
     script(src='//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js')