extend ./layouts/common.pug
include ./components/team.pug

block head
     title Trận đấu #{match.name} - #{league.name}

block script
     script.
          const league = "#{league.id}"
          match = "#{match.id}",
          teamA = "#{match.teams[0].id}",
          teamB = "#{match.teams[1].id}";

block content
     h1.text-center Trận Đấu
     .row.justify-content-between.align-items-center
          .col-md-3.d-flex.flex-column.alert(class=match.scores.length ? match.scores[0] > match.scores[1] ? "alert-warning" :  "alert-danger" : "alert-primary")
               +renderTeam(match.teams[0])
          .col-md-3.text-center.my-3.alert.alert-secondary.h-100
               .h1= match.scores.length ? match.scores.join(" - ") : ""
               a(href=`${isManager ? "/manager" : ""}/leagues/${match.league}`) #{league.name}
               .d-flex.justify-content-center.align-items-center
                    .bi.bi-geo-alt.fs-4.me-2
                    span= match.stadium.name
               +renderStartTime(match.date)
          .col-md-3.d-flex.flex-column.alert(class=match.scores.length ? match.scores[1] > match.scores[0] ? "alert-warning" :  "alert-danger" : "alert-primary")
               +renderTeam(match.teams[1])
     -var today = moment();
     -var start = moment(match.date);
     -var isHappend = today - start;
     if today - start > 0 && !match.scores.length && isManager
          .row.justify-content-center
               a.col-md-2.btn.btn-danger(href=`/manager/leagues/${league.id}/matchs/${match.id}/update`) Cập nhật trận đấu
     hr
     .h2 Trọng tài
     .d-flex.justify-content-evenly
          each referee in match.referees
               +renderReferee(referee)
     hr
     .h2 Chi Tiết Trận Đấu
     table.table.table-hover.table-bordered.details
          thead
               tr.border-0
                    th.border-0(scope="col")
                         img.w-25(src=match.teams[0].logo_path)
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0(scope="col")
                    th.border-0.d-flex.justify-content-end(scope="col")
                         img.w-25(src=match.teams[1].logo_path)
          tbody
               tr 
                    td(colspan="3") [10] Phan Thanh Vinh
                    td(colspan="1") goal
                    td.text-center.fw-bold(colspan="1") 9'
                    td(colspan="1") 
                    td(colspan="3") 
               - var i=0
               while i++ < 10
                    tr.placeholder-glow 
                         td(colspan="3")
                              span.placeholder.w-100
                         td(colspan="1")
                              span.placeholder.w-100
                         td(colspan="1")
                              span.placeholder.w-100
                         td(colspan="1") 
                              span.placeholder.w-100
                         td(colspan="3") 
                              span.placeholder.w-100