extend ./layouts/common.pug

block head 
     title= person.name

block content 
     .h1= "Thông Tin " + (person.type == "referee" ? "Trọng Tài" : "Cầu Thủ")
     .row.align-items-center
          .col-md-3
               img.avatar-lg(src=person.avatar alt="Hình ảnh của " + person.name)
          .col-md.my-2
               .alert.alert-secondary
                    .d-flex.justify-content-between
                         .d-flex
                              .h3= person.name 
                              #titles
                                   if person.titles
                                        each title in person.titles
                                             span.badge.rounded-pill.bg-warning.mx-1= title.name
                         if person.type == "player" 
                              a.fs-4(href=`${isManager ? "/manager" : ""}/teams/${person.team.id}`)
                                   img.avatar(src=person.team.logo_path)
                                   span= person.team.name
                    .h4.text-muted= moment(person.birthday).format("DD/MM/yyyy")
                    span= person.description || "Hiện chưa có mô tả nào!"
                    if person.type == "player"
                         .h1 Thống Kê
                         div
                              span.fw-bold Tổng số ghi bàn: 
                              span #{goals.length}
                         div 
                              span.fw-bold Tổng số lỗi: 
                              span #{mistakes.length}

     if person.type == "referee"
          .h1 Các Trận Đấu
          ul.list-group.w-75.mx-auto
               each match in matchs
                    li.list-group-item.d-flex.justify-content-between.align-items-center
                         .ms-2
                              a.text-link.fs-4(href= `${isManager ? "/manager" : ""}/leagues/${match.league}/matchs/${match.id}`)= match.name
                              .fs-5.text-muted= moment(match.date).format("HH:mm DD/MM/YYYY")
                         .me-2
                              .fs-5.fw-bold= match.scores.length ? match.scores.join(" - ") : "x - x"
     if person.type == "player"
          .h2 Thống kê bàn thắng
          table.table.table-hover
               thead
                    tr 
                         th Giải đấu
                         th Trận đấu
                         th Thời điểm ghi bàn
               tbody
                    each goal in goals
                         tr
                              td 
                                   a(href=`${isManager ? "/manager" : ""}/leagues/${goal.league.id}`)= goal.league.name
                              td
                                   a(href=`${isManager ? "/manager" : ""}/leagues/${goal.league.id}/matchs/${goal.match.id}`)= goal.match.name
                              td= goal.time