extend ./layouts/common.pug
block head 
     title= team.name + " - Teams"
block script 
     script.
          const team = "#{team._id}"
block content
     .row.justify-content-center.align-items-center.mb-5.team(id=team.id)
          .col-md-3.border-end.px-2.d-flex.justify-content-center
               .update.text-center.logo
                    img.image-fluid.w-75.mb-2(src=team.logo_path)
                    if isManager
                         button.btn.btn-warning.py-0.edit
                              i.bi.bi-pencil-square
          .col-md-9.flex-grow-1.ps-5
               .d-flex.justify-content-between.align-items-start
                    .d-flex.flex-column
                         .d-flex
                              .h1.team-name.fw-bold= team.name
                              #titles
                                   each title in team.titles
                                        span.badge.rounded-pill.bg-warning.mx-1= title.name
                         .h6.text-muted.founded= moment(team.founded).format("DD/MM/yyyy")
                    if isManager
                         .d-flex.flex-column.justify-content-center
                              button.btn.btn-warning.team-editor.my-2
                                   i.bi.bi-pencil-square
                                   span &nbsp;Chỉnh sửa đội bóng
                              button.btn.btn-danger.team-delete
                                   i.bi.bi-pencil-square
                                   span &nbsp;Xóa đội bóng

               .d-flex.justify-content-between.my-5
                    .container.px-0
                         .row.justify-content-start
                              .col-md-6.d-flex.align-items-center.mb-2.stadium
                                   img.image-fluid.w-25.px-2.mx-2(src="/public/images/stadium-64.png")
                                   if team.stadium
                                        .d-flex.flex-column.stadium-info(id=team.stadium.id)
                                             .fw-bold.fs-5.name #{team.stadium.name}
                                             .fs-6.address #{team.stadium.address}
                                             .fw-bold.fs-5.capacity Sức Chứa: #{team.stadium.capacity} người
                                        if isManager
                                             .d-flex.flex-column.option
                                                  button.btn.edit
                                                       i.bi.bi-pencil-square
                                                  button.btn.delete
                                                       i.bi.bi-trash
                                   else 
                                        .d-flex.flex-column.stadium-info
                                        .d-flex.flex-column.option
                                             button.btn.btn-primary(onclick=`addStadium("${team.id}")`) +Stadium
                              .col-md-6.d-flex.align-items-center
                                   img.image-fluid.w-25.mx-2(src="/public/images/coach.png")
                                   .fw-bold.fs-5.coach= team.coach
     
     .alert.alert-info.my-2.w-75.mx-auto.description
          .h3 Thông Tin Đội Bóng
          if team.description
               p= team.description
          else
               span Hiện tại chưa có bất kì thông tin nào về đội bóng này...!
 
               
     .container.px-lg-5.mt-5
          .d-flex.justify-content-between
               h2 Thành Viên
               .d-flex.align-items-center
                    input#search-player.form-control.mx-2(type='text' placeholder='Tìm Kiếm')
                    if isManager
                         button.btn.btn-primary.w-50#btn-add-player
                              i.bi.bi-plus-lg
                              span &nbsp;Thêm
          include ./components/playerTable.pug
              
                    
