extend ../layouts/common.pug
block script 
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(type="text/javascript" src="/public/js/food.js")
block head
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="/public/css/rating.css")
block content
    .bg-white.shadow.px-3.py-5
        .row.justify-content-evenly
            .col-md-5.justify-content-center.align-items-center.d-flex
                a(type="button" data-bs-toggle="modal" data-bs-target="#image-modal")
                    img.img-fluid.d-flex.rounded.img-thumbnail.shadow(src=food.thumbnail alt=food.name style="height: 20rem;" data-bs-toggle="tooltip" data-bs-placement="top" title=food.name)
            .col-md-6.justify-content-center.align-items-center.flex-column.py-2.px-3.px-lg-0
                h1.pt-5.pt-md-0.text-uppercase=food.name
                p.h3.bg-light.px-3.py-2.shadow-sm= food.price.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})
                .d-flex.align-items-center
                    span.h4.pe-2 Loại
                    a.badge.bg-primary.px-3.py-2.text-decoration-none(href="/search?type=" + food.type.code data-bs-toggle="tooltip" data-bs-placement="top" title="tìm kiếm món ăn theo loại")= food.type.name
                .mb-2
                    p.h3.px-3.py-2 Mô tả món ăn
                    span= !food.description ? 'Hiện tại món ăn này chưa có mô tả' : food.description
                hr
                
                form.bg-light.px-3.py-2.shadow-sm#order-form(action="/order/buynow" method="GET")
                    .d-flex.align-items-center
                        span.fs-6.px-2 Số lượng
                        .input-group.my-2.w-auto
                            button.minus.btn.btn-outline-secondary(type='button' data-type='minus' data-field='' onclick='minus()' data-bs-toggle="tooltip" data-bs-placement="top" title="Giảm số lượng") - 
                            input#quantity.btn.btn-outline-secondary.text-center.disabled(type='text' name='quantity' value='1' min='1' style="width:50px")
                            button.plus.btn.btn-outline-secondary(type='button' data-type='plus' data-field='' onclick='plus()' data-bs-toggle="tooltip" data-bs-placement="top" title="Tăng số lượng") +
                    .mt-3
                        button.btn.btn-outline-primary.me-2.rounded-0#add-cart(type='button' data-bs-toggle="tooltip" data-bs-placement="top" title="Thêm vào giỏ hàng") 
                            i.bi.bi-cart-plus-fill.px-2
                        input(type="hidden" name="food" value=food._id)
                        button.btn.btn-primary.rounded-0(type='submit') Mua ngay
        .mx-md-5
            .img-thumbnail.min-3
                .h3.mx-2 Đánh Giá
                hr
                if comments.length
                        ul.px-3.list-unstyled
                            each comment in comments
                                li.alert.alert-primary
                                    .d-flex.align-items-center
                                        img.img-thumbnail.rounded-circle.me-2(src=comment.avatar ? coment.avatar : "/public/images/assets/user.png" width="38px")
                                        .d-flex.flex-column
                                            .fs-6.m-0= comment.user.last_name + ' ' + comment.user.first_name
                                            - var stars = [];
                                            - stars.length = 5
                                            .flex-row.d-flex.align-items-center
                                                div.me-2
                                                    each v, i in stars
                                                        span.icon(class=(i+1 <= comment.rate ? "star-rating" : "")) &starf;
                                                .small=moment(comment.date).format("HH:mm DD-MM-yyyy")
                                    .h5.ms-5= comment.comment
                else 
                    .d-flex.flex-column.justify-content-center.align-items-center.min-3.text-muted
                        .bi.bi-list-stars.fs-1
                        .h6.text-center Chưa có đánh giá nào

            if user
                    include ../includes/ratingInput.pug

    .similar-foods.mt-3
        h2 Các món ăn cùng loại
        hr
        div.slick.bg-light
            each similar in similars
                .px-2
                    .card(style='margin-bottom:10px;')
                        img.card-img-top(src=similar.thumbnail alt=similar.name style="height: 200px;")
                        .card-body
                            a.link-secondary.text-decoration-none(href=`/foods/${similar._id}`)
                                h5.card-title.text-truncate=similar.name
                            p.card-text=similar.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            a.btn.btn-primary(href='#') Đặt ngay
    .modal#image-modal
        .modal-dialog.modal-fullscreen-sm-down
            .modal-content
                .modal-header
                    h5.modal-title= food.name
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body.d-flex.justify-content-center
                    img(src=food.thumbnail width="100%")
