extend ../layouts/common.pug

block content 
     .d-flex.justify-content-center.align-items-center.flex-column
     #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
          .carousel-indicators
                each food, index in foods
                    button(type='button' class=index == 0 ? "active" : "" data-bs-target='#carouselExampleCaptions' aria-current=index==0 data-bs-slide-to=index aria-label=food.name)


          .carousel-inner
               each food, index in foods
                    a.carousel-item(href="/foods/" + food.id class=index==0 ? "active" : "")
                         img.d-block.w-100(src=food.thumbnail alt=food.name style="height: 35rem")
                         .carousel-caption.d-none.d-md-block
                              h5 #{food.name}
                              p #{food.description}

          button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
               span.carousel-control-prev-icon(aria-hidden='true')
               span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
               span.carousel-control-next-icon(aria-hidden='true')
               span.visually-hidden Next

     .food-type-container.container
          h2.p-5 Hãy chọn loại món mình thích
               .row.align-items-center
                    each val in foodTypes
                         a.col-md-4.p-3.text-decoration-none(href=`/search?q=&type=${val.code}`)
                              img.img-fluid.mx-auto.d-block.rounded-3.shadow-sm(src=`../../public/images/food_type/${val.code}.jpg`)
                              h5.text-center.text-black=val.name
                    
