extend ../../layouts/common.pug

block content 
     .row.justify-content-center
          form.col-md-12.col-xl-6(action=`/admin/users/${isCreate ? "create" : body.id + "/update"}` method="POST" id=isCreate ? "create" : "update").bg-white.p-5.shadow-sm
               .h2.text-center.text-capitalize= seo.title
               if errors && errors.length
                    each val in errors
                         .alert.alert-danger.mx-5= val
               .mb-3
                    label.form-label(for="username") Tên đăng nhập
                    input#name.form-control(type='text' name="username" placeholder="Tên đăng nhập" value=body ? body.username : "")
               .row.mb-2
                    .col-md-6.mb-2
                         input.form-control(type='text' name="last_name" placeholder="Họ" value=body ? body.last_name : "")
                    .col-md-6
                         input.form-control(type="text" name="first_name" placeholder="Tên" value=body ? body.first_name : "")
               .mb-3
                    label.form-label(for="email") Email
                    input#name.form-control(type='text' name="email" placeholder="Email" value=body ? body.email : "")
               .row.mb-2
                    .col-md-8.pe-2
                         input.form-control(type="text" name="phone" placeholder="Số điện thoại" value=body?body.phone : "")
                    .col-md-4.d-flex.align-items-center.my-2
                         .form-check.form-check-inline
                              input.form-check-input(type="radio" id="male" name="gender" value="male" checked=body?body.gender == "male" : false)
                              label.form-check-label(for="female") Nam 
                         .form-check.form-check-inline
                              input.form-check-input(type="radio" id="female" name="gender" value="female" checked=body?body.gender == "female" : false)
                              label.form-check-label(for="female") Nữ
               .mb-3
                    label.form-label(for="") Quyền
                    select.form-select(aria-label='select role' name="role")
                         each val in role
                              option(value=val selected=body ? body.role == val : val=="CUSTOMER")= val

               .d-flex.justify-content-center
                    input.btn.btn-primary.px-5(type='submit' value=isCreate ? "Tạo" : "Lưu")