extend ../layouts/common.pug
block head
     title Trang Quản Lý
block content
     .row
          .col-md-3.my-2
               include ../components/menuManager.pug
          .col-md-9
               #leagues.pb-5
                    .d-flex.justify-content-between.align-items-center
                         h1#title Giải Bóng Đá
                         a.d-block.btn.btn-primary(href="/manager/leagues")
                              i.bi.bi-plus-lg
                              span &nbsp;Tạo Giải
                    hr
                    #root.row.d-flex.justify-content-evenly
                         if leagues
                              for league in leagues
                                   .card.league.my-2.py-2(id=league.id style='width: 18rem;')
                                        a.d-flex.flex-column.text-black.text-decoration-none.h-100( href="/manager/leagues/"+ league.id )
                                             img.flex-grow-1.card-img-top(src=league.logo_path alt="hình ảnh tượng trương của " + league.name)
                                             .card-body.d-flex.flex-row
                                                  .d-flex.flex-column.w-100.h-100.justify-content-end
                                                       h5.card-title= league.name
                                                       p.card-text.show-less-3= league.description
                                                       p.card-text= moment(league.startTime).format("MM/yyyy") + " - " + moment(league.endTime).format("MM/yyyy")
                                        button.btn.btn-danger.delete
                                                  i.bi.bi-trash
                    hr
        
               #teams.pb-5
                    .d-flex.justify-content-between.align-items-center
                         h1#title Đội Bóng
                         a.d-block.btn.btn-primary(href="/manager/teams")
                              i.bi.bi-plus-lg
                              span &nbsp;Tạo Đội
                    hr
                    #root.row.d-flex.justify-content-evenly
                         table.table.table-hover
                              thead
                                   tr
                                        th(scope='col') #
                                        th(scope='col') Đội Bóng
                                        th(scope='col') Năm Thành Lập
                                        th(scope='col') Huấn Luyện Viên
                                        th
                              tbody
                                   if teams 
                                        for team,i in teams
                                             tr(id=team.id).align-middle
                                                  th(scope='col')= i + 1
                                                  td
                                                       a(href=`/manager/teams/${team.id}/`)= team.name
                                                  td= team.founded.getFullYear()
                                                  td= team.coach
                                                  td  
                                                       button.btn.btn-danger.delete
                                                            i.bi.bi-trash
                    hr

               #donors.pb-5
                    .d-flex.justify-content-between.align-items-center
                         h1#title Nhà Tài Trợ
                         a.d-block.btn.btn-primary(href="/manager/donors")
                              i.bi.bi-plus-lg
                              span &nbsp;Thêm NTT
                    hr
                    #root.row.d-flex.justify-content-evenly
                         for donor in donors
                              .card.donors.my-2.py-2(id=donor.id style='width: 20rem;')
                                   a.d-flex.flex-column.text-black.text-decoration-none.h-100( href="/manager/donors/"+ donor.id )
                                        img.flex-grow-1.card-img-top(src=donor.logo_path alt="hình ảnh tượng trương của " + donor.name)
                                        .card-body.d-flex.flex-row
                                             .d-flex.flex-column.w-100.h-100.justify-content-end
                                                  h5.card-title= donor.name
                                                  p.card-text= donor.email
                                                  p.card-text= donor.phone
                                                  p.card-text.h4 $#{donor.funding}
                                                  p.card-text.show-less= donor.description
                                   button.btn.btn-danger.delete
                                        i.bi.bi-trash

               #referees.pb-5
                    .d-flex.justify-content-between.align-items-center
                         h1#title Trọng Tài
                         a.d-block.btn.btn-primary(href="/manager/referees")
                              i.bi.bi-plus-lg
                              span &nbsp;Thêm Trọng Tài
                    hr
                    #root.row.d-flex.justify-content-evenly
                         table.table.table-hover
                              thead
                                   tr
                                        th(scope='col')
                                        th(scope='col') Trọng Tài
                                        th.d-none.d-lg-table-cell(scope='col') Số điện thoại
                                        th.d-none.d-lg-table-cell(scope='col') email
                                        th
                              tbody 
                                   each referee in referees
                                        tr.align-middle(id=referee.id)
                                             td.text-center
                                                  img(src=referee.avatar class="avatar" alt="avatar của trọng tài " + referee.name)
                                             td
                                                  a(href=`/manager/referees/${referee.id}`)= referee.name
                                             td.d-none.d-lg-table-cell= referee.phone
                                             td.d-none.d-lg-table-cell= referee.email
                                             td
                                                  button.btn.btn-danger.delete
                                                       i.bi.bi-trash
                    hr
               #rules
                    .d-flex.justify-content-between.align-items-center
                         h1#title Quy Định
                         a.d-block.btn.btn-primary#add-rule Thêm quy định
                    hr
                    table.table.table-hover.table-responsive.rules
                         thead
                              tr
                                   th.d-none.d-lg-table-cell(scope='col' style='width: 10rem;') Quy Định
                                   th.d-none.d-lg-table-cell(scope='col') Nội Dung
                                   th
                         tbody
                              each rule in rules 
                                   tr(id=rule.id)
                                        td= rule.name
                                        td= rule.description
                                        td
                                             button.btn.btn-danger.delete.m-1
                                                  i.bi.bi-trash
                                             button.btn.btn-warning.edit.m-1
                                                  i.bi.bi-pencil-square