extend ../layouts/common.pug

block head 
     title Tổng Kết #{league.name}
block content
     .h1.text-center Tổng Kết "#{league.name.toUpperCase()}"
     #accordion-report.accordion.accordion-flush
          .accordion-item#teams
               h2#header-teams.accordion-header
                    button.fs-4.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-team' aria-expanded='false' aria-controls='collapse-team') Đội Bóng
               #collapse-team.accordion-collapse.collapse(aria-labelledby='header-teams' data-bs-parent='#accordion-report')
                    .accordion-body
                         ul.list-group
                              each join, index in joins
                                   li.list-group-item.d-flex.align-items-center(id=join.team.id style=`background-color: ${(index == 0 ? "#ffc107" : "")}`)
                                        .h3= index+1 + "."
                                        .d-flex.justify-content-between.align-items-center.flex-grow-1.mx-2.align-self-center
                                             .d-flex
                                                  a.h4.name(href=`/manager/teams/${join.team.id}`)= join.team.name
                                                  .d-flex.align-items-start.titles
                                                       each title in join.team.titles
                                                            span.badge.rounded-pill.text-muted.mx-1= title.name

                                             .h4= join.score
                                        button.btn.btn-primary.add-title + Danh hiệu
                                        
          .accordion-item#players
               h2#header-players.accordion-header
                    button.fs-4.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapse-players' aria-expanded='false' aria-controls='collapse-players') Cầu Thủ
               #collapse-players.accordion-collapse.collapse(aria-labelledby='header-players' data-bs-parent='#accordion-report')
                    .accordion-body
                         table.table.table-hover 
                              thead
                                   tr
                                        th #
                                        th Cầu thủ
                                        th Ghi bàn
                                        th Thẻ đỏ
                                        th Thẻ Vàng
                                        th Danh hiệu
                              tbody
                                   each item, index in players
                                        tr(id=item.player.id)
                                             td= index
                                             td.d-flex
                                                  a.h4.name(href=`/manager/teams/${item.player.team}/players/${item.player.id}`)= item.player.name
                                                  .d-flex.align-items-start.titles
                                                       each title in item.player.titles
                                                            span.badge.rounded-pill.text-muted.mx-1= title.name

                                             td= item.goals
                                             td= item.red 
                                             td= item.yellow
                                             td  
                                                  button.btn.btn-primary.add-title + Danh hiệu
     .row.justify-content-center
          a.col-md-3.btn.btn-secondary(href="/manager/leagues/"+league.id) Quay Lại