extend ../layouts/common.pug

block content
     .bg-white.p-5.shadow-sm
          .container
               .h2.text-center Hồ sơ của tôi
               .row.justify-content-center.my-5
                    .rounded-circle.img-thumbnail.w-auto#edit-avatar.user-avatar(style=`background: url("${user.avatar ? user.avatar : "/public/images/assets/user.png"}")` alt=user.last_name + " " + user.first_name)
                    input#img(type='file' name='img' accept='image/*' style="display: none;")
                    .h2.text-center #{user.first_name + " " + user.last_name}
                    p.text-center.text-muted
                         img(src=`/public/images/rankings/${user.current_ranking.code.toLowerCase()}.png` alt=user.current_ranking.name width="24px")
                         button.btn.btn-link(type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=user.current_ranking.description) #{user.current_ranking.name}
                    .h4.text-center.text-muted @#{user.username}
               form(method="post" action="/user/update").row.justify-content-center
                    .col-md-6.container
                         .row
                              .col-md-6.p-0.pe-2.mb-2
                                   input.form-control(type="text" name="first_name" placeholder="Tên" value=user ? user.first_name : "")
                              .col-md-6.p-0.mb-2
                                   input.form-control(type='text' name="last_name" placeholder="Họ" value=user?user.last_name : "")
                         .row.mb-2
                              input.col-md-6.form-control(type="text" name="phone" placeholder="Số điện thoại" value=user?user.phone : "")
                         .row.mb-2
                              input.col-md-6.form-control(type="text" name="address" placeholder="Địa chỉ" value=user?user.address : "")
                         .row.mb-2
                              input.form-control(type="email" name="email" placeholder="Email" value=user?user.email : "")
                         .d-flex.justify-content-center
                              button.btn.btn-primary 
                                   span Cập nhật

block script 
     script(src="/public/js/upload-avatar.js")
     script.
               async function postImageHandle() {
                    const inpImg = $("#img")[0];
                    if(inpImg.files.length) {
                         const formData = new FormData();
                         formData.append("avatar", inpImg.files[0]);

                         const res = await (await (fetch(`/api/user/upload`, {method: 'POST',body: formData}))).json();

                         if(res.success) {
                              document.getElementById("edit-avatar").style = `background-image: url("${res.data.avatar}")`;
                         } else {
                              Swal.fire({
                                   icon: 'error',
                                   title: 'Oops...',
                                   text: "Xảy ra lỗi trong quá trình upload file",
                                   });
                         }
                    }
               }