extend ../layouts/common.pug

block head
     title Football League
     link(rel='stylesheet' href='./public/css/landingpage.css')
     link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
block content
     .container
          .league
               // logo
               .sponsor-slide
                    .logo-track
                         each team in teams
                              a(href="/teams/" + team.id).logo
                                   img(src=team.logo_path alt= "biểu tượng của đội " + team.name)
          .cardBox
               a.card.text-decoration-none(href="/teams")
                    div
                         .numbersCard= teams.length
                         .cardName Đội bóng
                    .iconCard
                         i.fas.fa-users
               a.card.text-decoration-none(href="/players")
                    div
                         .numbersCard= leagues.length
                         .cardName Giải Đấu
                    .iconCard
                         i.fas.fa-trophy
               a.card.text-decoration-none(href="/donors")
                    div
                         .numbersCard= donors.length
                         .cardName Nhà Tài Trợ
                    .iconCard
                         i.fas.fa-money-bill-wave
               a.card.text-decoration-none(href="/matchs")
                    div
                         .numbersCard= matchs.length
                         .cardName Trận Đấu
                    .iconCard
                         i.fas.fa-play
          .h2 Các Giải Bóng Đá
          .container
               .row#leagues.justify-content-center
                    each league in leagues
                         a.mx-2.card(style="width: 12rem" href="/leagues/"+league._id)
                              img.card-img-top(src=league.logo_path alt="hình ảnh tượng trương của " + league.name)
                              .card-body
                                   .h5.card-title= league.name


          .container
               .row.justify-content-center
                    .recentMatch.col-md-7.m-2
                         .cardHeader
                              .h1 Các Trận Đấu Sắp Diễn Ra
                              a.btn.btn-secondary(href='#') Xem Thêm
                         table.table.table-hover#matchs
                              thead
                                   tr
                                        td Diễn ra vào
                                        td Trận đấu
                                        td Đội nhà
                                        td Đội khách
                                        td Sân thi đấu
                              tbody
                    .team.col-md-4.m-2
                         .d-flex.justify-content-start.flex-column
                              .d-flex.justify-content-between.align-items-center.mb-2
                                   .h1 Đội Bóng
                                   a.btn.btn-secondary(href='/teams') Xem tất cả
                              .d-flex.flex-column
                                   each team, index in teams
                                        if index > 5
                                             - break
                                        a.text-black.d-grid.my-2.align-items-center.text-decoration-none(href="/teams/"+team.id style="grid-template-columns: 0.5fr 1fr 3fr;")
                                             .fs-1.fw-bold.align-middle.text-center= index
                                             img(src=team.logo_path).w-100
                                             .d-flex.flex-column.mx-2
                                                  .h5= team.name
                                                  .text-muted= team.stadium.name

          .wrapper-timeline.mb-5
               .header-timeline
                    h1 Phương Thức Hoạt Động
               .row.row-1
                    section.bg-light
                         span.icon-timeline.fw-bold 1
                         .details-timeline
                              span.title-timeline Thông báo và đăng kí
                         li.text-muted Các đội bóng sẽ lần lượt tham gia giải đấu bằng cách đăng kí cho ban tổ chức sau khi có thông báo của ban tổ chức.
                         .bottom-timeline
               .row.row-2
                    section.bg-light
                         span.icon-timeline.fw-bold 2
                         .details-timeline
                              span.title-timeline Công bố lịch thi đấu
                         li.text-muted Sau khi đã có đủ số lượng tham gia thì ban quản lí sẽ lập lịch và thông báo thời gian thi đấu cho các đội tham gia.
                         .bottom-timeline
               .row.row-1
                    section.bg-light
                         span.icon-timeline.fw-bold 3
                         .details-timeline
                              span.title-timeline Thi đấu
                         li.text-muted Sau khi nhận dược lịch thi đấu , các đội sẽ thi đấu lần lượt các trận dựa trên lịch thi đấu mà ban tổ chức thông báo.
                         .bottom-timeline
               .row.row-2
                    section.bg-light
                         span.icon-timeline.fw-bold 4
                         .details-timeline
                              span.title-timeline Tổng kết và trao thưởng
                         li.text-muted Sau khi các trận đấu cuối cùng kết thúc thì ban tổ chức sẽ thống kê lại điểm số và trao thưởng cho các đội bóng và các cá nhân xuát sắc nhất.
                         .bottom-timeline

                              
          .container.text-center.my-5.pt-5
               .row.justify-content-center
                    a(href="#").col-lg-3.info-box.cup
                         .fas.fa-trophy
                         .h2 Giải Thưởng
                         p Giải đấu với quy mô quốc gia mang nhiều giải thưởng giá trị.
                    a(href="#").col-lg-3.info-box.news
                         .fas.fa-newspaper
                         .h2 Tin Mới
                         p Các thông tin mới nhất về giải đấu, trận đấu,đội bóng, cầu thủ.
                    a(href="/rules").col-lg-3.info-box.rules
                         .fas.fa-gavel
                         .h2 Luật Giải
                         p Tìm hiểu luật giải đấu
