extend ../layouts/common.pug
block script
     script.
          document.forms[0].onsubmit= () => {
               const forms = document.forms[0];

               const type = []
               forms.type.forEach((e) => {
                    if(e.checked)
                         type.push(e.value)
               });
               
               window.location.href = `/search?q=${forms['q'].value}&type=${type}`
               return false;
          }
block content 
     form#option-search
          .row.justify-content-center
               .col-md-6
                    .input-group.mb-3
                         input#input-search.form-control(type='text' name="q" placeholder="Giải đấu, trận đấu, đội bóng, cầu thủ,..." value=keyword)
                         input(type="submit" value="Tìm kiếm")#btn-search.btn.btn-primary
          if keyword
               .h4.text-center #{results.length == 0 ? "Không tìm thấy" : `Tìm thấy ${results.length}`} kết quả cho từ khóa "#{keyword}"
          .row.mt-5
               .col-sm-3.option
                    .h3 Tùy chọn tìm kiếm
                    
                    .form-check.my-2
                         input#league-option.form-check-input(type='checkbox' name="type" value='league' checked=type.includes("league"))
                         label.badge.fs-6.bg-danger.rounded-pill.form-check-label(for='league-option') Giải Đấu
                    .form-check.my-2
                         input#match-option.form-check-input(type='checkbox' name="type" value='match' checked=type.includes("match"))
                         label.badge.fs-6.bg-secondary.rounded-pill.form-check-label(for='match-option') Trận Đấu
                    .form-check.my-2
                         input#team-option.form-check-input(type='checkbox' name="type" value='team' checked=type.includes("team"))
                         label.badge.fs-6.bg-success.rounded-pill.form-check-label(for='team-option') Đội Bóng
                    .form-check.my-2
                         input#player-option.form-check-input(type='checkbox' name="type" value='player' checked=type.includes("player"))
                         label.badge.fs-6.bg-info.rounded-pill.form-check-label(for='player-option') Cầu Thủ
                    .form-check.my-2
                         input#referee-option.form-check-input(type='checkbox' name="type" value='referee' checked=type.includes("referee"))
                         label.badge.fs-6.bg-dark.rounded-pill.form-check-label(for='referee-option') Trọng Tài
                    .form-check.my-2
                         input#donor-option.form-check-input(type='checkbox' name="type" value='donor' checked=type.includes("donor"))
                         label.badge.fs-6.bg-warning.rounded-pill.form-check-label(for='donor-option') Nhà Tài Trợ
               .col
                    if results.length
                         each item in results
                              include ../components/itemSearch.pug
                    else 
                         p Không tìm thấy kết quả nào 